* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
.flex {
  display: flex;
}
.w1140 {
  width: 1140px;
  margin: auto;
}
.margin {
  margin-left: 50px;
}
.justify-between {
  justify-content: space-between;
}
.nev {
  width: 100%;
  height: 60px;
  background-color: white;
  position: fixed;
  justify-content: space-between;
}
.nev-left {
  margin-top: 5px;
}
.nev-right {
  padding-right: 15px;
}
.nev-right ul li ul {
  background: white;
  display: none;
  position: absolute;
  padding: 20px 0px;
}
.nev-right ul li:hover ul {
  position: absolute;
  display: block;
}
.nev-right ul li ul li a {
  font-size: 16px !important;
}
.nev-left img {
  margin-top: 10px;
}
.nev-icon {
  padding: 0px 15px;
  align-content: center;
}
.nev-icon i {
  font-size: 30px;
}
.nev-icon li {
  font-size: 16px;
  text-transform: capitalize;
  padding: 4px;
}
.nev-right ul li {
  padding: 15px;
}
.nev-right ul li a {
  font-size: 20px;
  color: black;
}
.nev-right ul li i {
  font-size: 18px;
}

.GrabX .GrabX-img {
    width: 1120px;
    height: 530px;
    background-image: url('https://assets.grab.com/wp-content/uploads/sites/4/2025/04/08113830/GrabX-Post-Event-Website-700x331.png');
    background-size: 100% 100%;
    margin: auto;
    margin-bottom: 30px;
}

.GrabX span {
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin: 30px 0px;
}

.GrabX span font {
    padding-left: 10px;
}

.GrabX .Grab-video iframe {
    width: 100%;
    height: 500px;
}

.GrabX h2 {
    text-align: center;
    margin: 30px 0px;
    font-size: 24px;
    font-family: sans-serif;
}

.Grabx-scanner {
    width: 25%;
    height: 250px;
    background-image: url('https://assets.grab.com/wp-content/uploads/sites/4/2025/04/07140242/QR_EAP-250x250.png');
    background-size: 100% 100%;
    margin: auto;
}

hr {
    margin: 25px 63px;
}

.grab-info h2 {
    font-size: 30px;
    text-align: center;
}

.grab-info p {
    font-size: 19px;
    color: darkslategrey;
    line-height: 25px;
    margin-top: 15px;
}

.grab-info li {
    list-style: none;
    list-style: none;
    margin: 15px 0px;
    font-size: 20px;
}

.grab-det ul {
    display: flex;
    justify-content: center;
}

.grab-det ul li {
    width: 15%;
    margin: 35px;
    font-size: 22px;
    text-align: center;
}

.grab-det ul li a {
    color: black;
}
.info-box {
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-top: 1px solid gray;
  padding: 25px 28px;
}
.info-box1 {
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 25px 28px;
  margin-bottom: 20px;
}
.info-left {
  width: 60%;
  align-content: center;
}
.info-left h3 {
  margin-bottom: 20px;
  font-size: 24px;
  color: darkslategrey;
}
.info-left h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}
.info-left p {
  font-size: 16px;
  color: darkslategrey;
  line-height: 20px;
}
.info-left .btn {
  width: 24%;
  border: 1px solid green;
  background-color: green;
  border-radius: 10px;
  margin-top: 25px;
}
.info-left .btn li {
  font-size: 18px;
  color: white;
  font-weight: 400;
  text-align: center;
  padding: 10px;
}
.info-right {
  width: 40%;
  display: flex;
  justify-content: center;
}
h1 {
  text-align: center;
  margin: 15px 0px;
}
li{
  text-align: center;
  font-size: 18px;
}
.video {
  width: 1140px;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
footer .grabf ul {
  margin: 10px 0px;
  font-size: 20px;
  font-family: cursive;
}
.main {
  background-color: #eaeff2;
  padding: 20px 0px;
  margin-top: 65px;
}
.grabf {
  line-height: 35px;
}
.grabf li i {
  font-size: 20px;
  margin: 3px;
}
footer .grabf li {
  font-size: 16px;
  color: darkslategrey;
  line-height: 22px;
  text-align: start;
}
footer .grabf p {
  margin: 10px 0px;
  font-weight: 600;
  font-size: 18px;
}
.sub {
  width: 80%;
  justify-content: end;
}
.about {
  width: calc(16% - 30px);
  margin-left: 15px;
}
.sub .about ul h3 {
  margin: 10px 0px;
}
.sub .about ul li {
  line-height: 25px;
  text-align: start;
}
.sub .about ul li a {
   color: darkslategrey;
   font-size: 16px;
}
